{% extends "Admin/Core/coreback.html.twig" %}

{% block title %}{{ editblog|default('Add') }} blog{% endblock %}

{% block page %}

<h2><a href="#">Blog</a> &raquo; <a href="{{ url('admin-blog') }}" class="active">Manage blog</a></h2>

<div id="main">

	<h3>Manage blog:</h3>
	<table cellpadding="0" cellspacing="0">

		<div id="dialog" title="Delete blog item?" style="display: none;">
			<p>
				<span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>Are you sure you want to delete this blog item?
			</p>
		</div>

		{% for blog in blogitems %}
		<tr class="{{ cycle(['even','odd'],loop.index) }}">
			<td>{{ blog.title }}</td>
			<td class="action"><a href="{{ url('admin-blog-edit', blog.id) }}" class="edit">Edit</a><a href="{{ url('admin-blog-delete', blog.id) }}" class="delete">Delete</a></td>
		</tr>
		{% endfor %}
	</table>

	<h3>{{ editblog|default('Add') }} item:</h3>

	<fieldset>
		
			{% if updateblog.id  == '' and editblog %}
			<div class="alert-box2 error">
				<span>Blogitem does not exist!</span>
			</div>
			{% else %}
		<form action="" method='post' class="jNice">
			{% if field_errors|length %}
			<div class="alert-box2 error">
				<span>Item could not been created:</span>
				<br />
				<br />
				{% for error in field_errors %}
					{% for message in error %}
						{{ message }}	<br />
					{% endfor %}
				{% endfor %}
			</div>
			{% endif %}

			{% if confirmation|length %}
			<div class="alert-box2 success">
				<span>{{ confirmation.message }}</span>
			</div>
			{% endif %}

			<p>
				<label>Title:</label>
				<input name="title" type="text" value="{{  updateblog.title|default(formValue('title')) }}" class="text-long" />
			</p>
			<p>
				<label>Author:</label>
				<select name="author">
					{% for author in authors %}
					<option value="{{ author.id }}" {{ formSelectValue('author', author.id ) }}>{{ author.fullname }}</option>
					{% endfor %}
				</select>
			</p>
			<p>
				<label>Blog content:</label>
				 <textarea class='content' name='content'>{{  updateblog.content|default(formValue('content')) }}</textarea>
			</p>
			<p>
				<label>Publish:</label>
				<select name="published">
					<option value="1" {{ formSelectValue('published', 1) }}>Yes</option>
					<option value="0" {{ formSelectValue('published', 0) }}>No</option>
				</select>
			</p>
			<input type="submit" value="{{ editblog|default('Add') }} item" />
		</form>
	
		{% endif %}
	
	</fieldset>

</div>

<script>
	$('.delete').click(function() {

		var a = this;

		$('#dialog').dialog({
			resizable : false,
			draggable: false,
			width : 250,	
			modal : true,
			buttons : {
				"Delete user" : function() {
					window.location = a.href; 
				},
				Cancel : function() {
					$(this).dialog("close");
				}
			}
		});
		return false;
	});

</script>
{% endblock %}