{% extends "Admin/Core/coreback.html.twig" %}

{% set selectedindex = 4 %}

{% block title %}{{ editportfolio|default('Add') }} portfolio{% endblock %}

{% block extralinks %}
<li><a href="{{ url('admin-portfolio') }}" class="active">Manage portfolio</a></li>
<li><a href="{{ url('admin-pf-categories') }}">Manage categories</a></li>
{% endblock %}

{% block tagging %}		
				
		$('#tagging input.tag').tagedit({
			autocompleteOptions: {
				source: {{ tags|raw }},
			},
			breakKeyCodes: [ 13, 44, 32, 46, 59 ],
			animSpeed: 100
		});

{% endblock %}
{% block page %}

<h2><a href="#">Portfolio</a> &raquo; <a href="{{ url('admin-portfolio') }}" class="active">Manage portfolio</a></h2>

<div id="main">

	<h3>Manage portfolio:</h3>
	<table cellpadding="0" cellspacing="0">

		<div id="dialog" title="Delete portfolio item?" style="display: none;">
			<p>
				<span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>Are you sure you want to delete this portfolio item?
			</p>
		</div>

		{% for portfolio in portfolioitems %}
		<tr class="{{ cycle(['even','odd'],loop.index) }}">
			<td>{{ portfolio.title }}</td>
			<td class="action"><a href="{{ url('admin-portfolio-edit', portfolio.id) }}" class="edit">Edit</a><a href="{{ url('admin-portfolio-delete', portfolio.id) }}" class="delete">Delete</a></td>
		</tr>
		{% endfor %}
	</table>

	<h3>{{ editportfolio|default('Add') }} item:</h3>

	<fieldset>
		
			{% if updateportfolio.id  == '' and editportfolio %}
			<div class="alert-box2 error">
				<span>portfolioitem does not exist!</span>
			</div>
			{% else %}
		<form action="" method='post' class="jNice" id="tagging" enctype='multipart/form-data'>
			{% if field_errors|length %}
			<div class="alert-box2 error">
				<span>Item could not been created:</span>
				<br />
				<br />
				{% for error in field_errors %}
					{% for message in error %}
						{{ message }}	<br />
					{% endfor %}
				{% endfor %}
			</div>
			{% endif %}

			{% if confirmation|length %}
			<div class="alert-box2 success">
				<span>{{ confirmation.message }}</span>
			</div>
			{% endif %}
			<input type="hidden" name="_token" value="{{ csrf_token() }}" />
			<p>
				<label>Title:</label>
				<input name="title" type="text" value="{{  updateportfolio.title|default(formValue('title')) }}" class="text-long" />
			</p>
			<p>
				<label>Category:</label>
				<select name="category">
					{% for category in categories %}
					<option value="{{ category.id }}" {{ formSelectValue('category', category.id ) }}>{{ category.category }}</option>
					{% endfor %}
				</select>
			</p>
			<p>
				<label>Content:</label>
				 <textarea class='content' name='content'>{{  updateportfolio.content|default(formValue('content')) }}</textarea>
			</p>

			<p>			
				<label>Image:</label>
				{% if updateportfolio.image %}
				<img src="{{ base_path() }}files/{{ updateportfolio.image }}" width="117" height="83" alt="{{ updateportfolio.title }}" title="{{ updateportfolio.title }}"/>
				<br />
				{% endif %}
				 <input type="file" name="image" data-max-size="2048"  accept="image/*"/>
			</p>
			<p>
				<label>Tags:</label>

				<input name="tag[]" type="text" class="tag text-long" />
			</p>
			<p>
				<label>Link source code: <span class="notrequired">(Not required)</span></label>
				<input name="source" type="text" value="{{  updateportfolio.source|default(formValue('source')) }}" class="text-long" />
			</p>
			<p>
				<label>Link preview: <span class="notrequired">(Not required)</span></label>
				<input name="preview" type="text" value="{{  updateportfolio.preview|default(formValue('preview')) }}" class="text-long" />
			</p>
			<p>
				<label>Date released: <span style="top: -10px;font-size:6pt; color: red;">(Not required)</span></label>
				<input name="released" id="datepicker" type="text" value="{{  updateportfolio.released|default(formValue('released')) }}" class="text-medium" />
			</p>
			<input type="submit" value="{{ editportfolio|default('Add') }} project" />
		</form>
	
		{% endif %}
	
	</fieldset>

</div>

<script>
	$('.delete').click(function() {

		var a = this;
		
		$('#dialog').dialog({
			resizable : false,
			draggable: false,
			width : 250,	
			modal : true,
			buttons : {
				"Delete item" : function() {
					window.location = a.href; 
				},
				Cancel : function() {
					$(this).dialog("close");
				}
			}
		});
		return false;
	});

</script>
{% endblock %}