					<div id="introtext">
						<h1>{{ content.sitetitle }}</h1>
						
							{{ content.sitedescr|markdown }}
						
					</div>

					<div id="mobilepart">
						<h3>{{ content.spotlighttitle }}</h3>
						<p>
							{{ content.spotlightdescr }}	
						</p>

						<a href="{{ content.spotlighturl }}" class="button">MORE INFO</a>
					</div>