{% extends 'Core/default.html.twig' %}

{% block title %}Blog{% endblock %}
{% block contenttitle %}Blog{% endblock %}
{% block content %}
				<div id="blogrol">

					<div class="blogItem">
						<div class="blogtitle">
							<h3>{{ item.title }}</h3>
						</div>
						

						<p class="date">
							Posted on {{ item.date_added|date('Y/m/d')}}
						</p>

						<div id="blogcontentFull">
							<p>{{ item.content|markdown }}</p>
						</div>
				
				
						<div id="numOfComments">
							
								{{ replies|length }} comments
								<a href="#doComment" class="button addComment">Add comment</a>
							
							
						</div>
						
						
						<div id="commentsList">
							<div id="doComment">
								{% if replies|length > 0 %}
								<h4>Comments</h4>
								
								{% for reply in replies %}
								<div class="comment">
									
									<div class="commentDate"><span>{{ reply.date_added|date('d')}}</span>{{ reply.date_added|date('M')}} '{{ reply.date_added|date('y')}}
									</div>
									
									<div class="commentText">
									<p><b>{{ reply.author }} commented:</b></p>
									
									<p>{{ reply.content|nl2br }}</p>
									</div>
									
									
								</div>
								{% endfor %}
								{% endif %}
								
								<h4>Add comment</h4>
								<form id="doCommentForm" action="" method="post">
									<!--<div class="error" style="width: 360px">{{ content.error }}</div>-->
									<input type="hidden" name="_token" value="{{ csrf_token() }}" />
									<input type="name" name="name" placeholder="Your name" />
									<textarea name="reply" placeholder="Your comment"></textarea>
									<input type="submit" value="Send Comment" />
								</form>
							</div>
						</div>

						<div class="clear"></div>

					</div>

				

				</div>
				{% embed 'Core/sidebar.html.twig' %}
					{% block return %}
					<div class="sidebarItem blogPage">
						<a id="returnToBlog" href="{{ url('blog') }}">Return to blog</a>
					</div>
					{% endblock %}
				{% endembed %}
{% endblock %}
