{% extends 'Core/default.html.twig' %}

{% block title %}Blog{% endblock %}
{% block contenttitle %}Blog{% endblock %}
{% block content %}

				<div id="blogrol">

					{% for item in blogitems %}
					<div class="blogItem">
						<div class="blogtitle">
							<h3>{{ item.title }}</h3>
						</div>
						

						<p class="date">
							Posted on {{ item.date_added|date('Y/m/d') }}
						</p>

						<p class="blogcontent">
							{{ item.content|markdown|striptags }}
						</p>
				
						<a href="{{ url('blog-item', item.id, item.title|slugify)}}" class="readMore">Read more</a>
						<a href="{{ url('blog-item', item.id, item.title|slugify)}}#doComment" class="comments">Comments ({{ item.replies }})</a>
						<div class="clear"></div>

					</div>
					{% endfor %}
				</div>
					
				{% include 'Core/sidebar.html.twig' %}
{% endblock %}