{% extends "Admin/Core/coreback.html.twig" %}

{% block title %}{{ edituser|default('Add') }} user{% endblock %}

{% block page %}

<h2><a href="#">Users</a> &raquo; <a href="{{ url('admin-users') }}" class="active">Manage users</a></h2>

<div id="main">

	<h3>Manage users:</h3>
	<table cellpadding="0" cellspacing="0">

		<div id="dialog" title="Delete user?" style="display: none;">
			<p>
				<span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>Are you sure you want to delete this user?
			</p>
		</div>

		{% for user in users %}
		<tr class="{{ cycle(['even','odd'],loop.index) }}">
			<td>{{ user.fullname }}</td>
			<td class="action"><a href="{{ url('admin-users-edit') }}{{ user.id }}" class="edit">Edit</a><a href="{{ url('admin-users-delete') }}{{ user.id }}" class="delete">Delete</a></td>
		</tr>
		{% endfor %}
	</table>

	<h3>{{ edituser|default('Add') }} user:</h3>

	<fieldset>
		
			{% if updateuser.id  == '' and edituser %}
			<div class="alert-box2 error">
				<span>User does not exist!</span>
			</div>
			{% else %}
		<form action="" method='post' class="jNice">
			{% if field_errors|length %}
			<div class="alert-box2 error">
				<span>User could not been created:</span>
				<br />
				<br />
				{% for error in field_errors %}
					{% for message in error %}
						{{ message }}	<br />
					{% endfor %}
				{% endfor %}
			</div>
			{% endif %}

			{% if confirmation|length %}
			<div class="alert-box2 success">
				<span>{{ confirmation.message }}</span>
			</div>
			{% endif %}

			<p>
				<label>Username:</label>
				<input name="user" type="text" value="{{  updateuser.user|default(formValue('user')) }}" class="text-long" />
			</p>
			<p>
				<label>Password:</label>
				<input name="pass" type="password" value="" class="text-long" />
			</p>
			<p>
				<label>Email:</label>
				<input name="email" type="text" value="{{ updateuser.email|default(formValue('email')) }}" class="text-long" />
			</p>
			<p>
				<label>Full name:</label>
				<input name="fullname" type="text" value="{{  updateuser.fullname|default(formValue('fullname')) }}" class="text-long" />
			</p>
			<p>
				<label>Role:</label>
				<select name="role">
					<option value="0" {{ formSelectValue('role', 0) }}>User</option>
					<option value="1" {{ formSelectValue('role', 1) }}>Administrator</option>

				</select>
			</p>
			<input type="submit" value="{{ edituser|default('Add') }} user" />
		</form>
	
		{% endif %}
	
	</fieldset>

</div>

<script>
	$('.delete').click(function() {

		var a = this;

		$('#dialog').dialog({
			resizable : false,
			draggable: false,
			width : 250,	
			modal : true,
			buttons : {
				"Delete user" : function() {
					window.location = a.href; 
				},
				Cancel : function() {
					$(this).dialog("close");
				}
			}
		});
		return false;
	});

</script>
{% endblock %}