{% extends 'Core/default.html.twig' %}

{% block title %}Blog{% endblock %}

{% block content %}

	<div class="blogheader">
		<h1><a href="{{ url('blog') }}">Blog</a></h1>
		<p>Op mijn blog plaats ik nieuwtjes en ontwikkelingen die ik door de jaren heen heb ontdekt.<br />
		Dit kunnen verschillen van kleine tutorials tot technologische snufjes.</p>
	</div>
		
		<div class="blogitem">
			<h5><a href="{{ url('blog-item', item.id, item.title|replace({ ' ': '-' })|lower) }}">{{ item.title }}</a></h5>
        
			<p>{{ item.content|ubb }}</p>
					
			<div class="blogiteminfo">
				<div class="blogitemdatum">{{ item.date_added }}</div>
				{{ countreplies }} reacties | <a href="{{ url('blog-item', item.id, item.title|replace({ ' ': '-' })|lower) }}">#permalink</a>
			</div>
        
		</div>
		
		<div class="comments">
		{% for reply in replies %}
			<div class="commentitem">
			
				<div class="commentUserInfo">
					<img src="" /><b>{{ reply.fullname }}</b><br />
					{{ reply.posts }} posts<br />
					Geplaatst op: {{ reply.date_added }}
					
				</div>
				
				<div class="commentTxt">
					<p>{{ reply.content|ubb }}</p>
					
				</div>
				
				
			
			</div>
			{% endfor %}
		
			<div class="commentfooter"></div>
		</div>

        
{% endblock %}