{% extends 'Core/default.html.twig' %}

{% block title %}Blog{% endblock %}

{% block content %}

	<div class="blogheader">
		<h1><a href="{{ url('blog') }}">Blog</a></h1>
		<p>Op mijn blog plaats ik nieuwtjes en ontwikkelingen die ik door de jaren heen heb ontdekt.<br />
Dit kunnen verschillen van kleine tutorials tot technologische snufjes.</p>
	</div>

	{% for item in blogitems %}
		
		<div class="blogitem">
			<h5><a href="{{ url('blog-item', item.id, item.title|replace({ ' ': '-' })|lower) }}">{{ item.title }}</a></h5>
        
			<p>{{ item.content|ubb }}</p>
			
			<p><a href="{{ url('blog-item', item.id, item.title|replace({ ' ': '-' })|lower) }}">Lees meer</a></p>
			
			<div class="blogiteminfo">
				<div class="blogitemdatum">{{ item.date_added }}</div>
				{{ item.replies }} reacties | <a href="{{ url('blog-item', item.id, item.title|replace({ ' ': '-' })|lower) }}">#permalink</a>
			</div>
        
		</div>
		
    {% endfor %}
{% endblock %}