{% extends 'Core/default.html.twig' %}

{% block title %}Blog{% endblock %}

{% block content %}

	<div class="blogheader">
		<h1><a href="{{ url('blog') }}">Blog</a></h1>
		<p>Lees het verdomde laatste nieuws over Jordi Kroon.<br />
		Uitvinder en ontwikkelaar van het JK-framework dat standaard zit bij iedere webhost.</p>
	</div>

	{% for item in blogitems %}
		
		<div class="blogitem">
			<h5><a href="{{ url('blog-item', item.id, item.title|replace({ ' ': '-' })|lower) }}">{{ item.title }}</a></h5>
        
			<p>{{ item.content|ubb }}</p>
			
			<p><a href="{{ url('blog-item', item.id, item.title|replace({ ' ': '-' })|lower) }}">Lees meer</a></p>
			
			<div class="blogiteminfo">
				<div class="blogitemdatum">{{ item.date_added }}</div>
				0 reacties | <a href="{{ url('blog-item', item.id, item.title|replace({ ' ': '-' })|lower) }}">#permalink</a>
			</div>
        
		</div>
		
    {% endfor %}
{% endblock %}